
h1:not(#mainTitle), h2, h3 {
  text-align: center;
  margin-top: 3vh !important;
  margin-bottom: 3vh !important;
  background-color: #a18473;
  color: white;
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 100%;
  height: 80vh;
  margin-bottom: 3%;
  margin-top: 3%;
}
p:not(.footer) {
  text-align: justify;
  display: block;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 120%;
}
ul:not(.navbar-nav) {
  border-radius: 2vh;
  display: block;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #a9cce3;
  padding: 2%;
}
@media only screen and (max-width: 1000px) {
  h1:not(#mainTitle), h2, h3 {
    width: 60%;
  }
  ul:not(.navbar-nav) {
    width: 60vw;
  }
  iframe {
    height: 50vh;
  }
}
@media only screen and (max-width: 768px) {
  ul:not(.navbar-nav) {
    width: 90vw;
  }
}
@media only screen and (max-width: 500px) {
  h1:not(#mainTitle), h2, h3 {
    width: 90%;
  }
  iframe {
    height: 30vh;
  }
}
